{
    "presets": [
      "react"
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-class-properties",
      "syntax-dynamic-import",
      "transform-object-rest-spread"
    ],
    "env": {
      "development": {
        "plugins": [
          "path-chunk-name"
        ]
      },
      "production": {
        "plugins": [
          "path-chunk-name"
        ]
      },
      "test": {
        "plugins": [
          "istanbul",
          "dynamic-import-node",
          "transform-es2015-modules-commonjs",
          "transform-runtime",
          "transform-decorators-legacy",
          "transform-class-properties",
          "syntax-dynamic-import",
          "transform-object-rest-spread"
        ]
      }
    },
    "retainLines": true
  }