{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "legacyDecorators": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "pm": false,
    "_": false,
    "vkbeautify": false,
    "Backbone": false,
    "CSV": false,
    "Uint8Array": false,
    "Uint16Array": false,
    "ArrayBuffer": false,
    "JSONbig": false,
    "ArrayBufferEncoderDecoder": false,
    "$": false,
    "X2JS": false,
    "xml2js": false,
    "ace": false,
    "io": false,

    "postman_update_server_url": false,
    "__WP_SYNCSERVER_URL__": false,
    "__WP_PUBLICLINKSERVER_URL__": false,
    "__WP_GA_TRACKING_ID__": false,
    "__WP_ENV__": false,
    "__WP_SYNC_RAWTEXT_LIMIT__": false,
    "__WP_SCRIBE_URL__": false,
    "__WP_DOCUMENTATION_PREVIEW_URL__": false,
    "__WP_MONITORS_URL__": false,
    "__WP_RUN_BTN_URL__": false,
    "__WP_UPDATE_SERVER_URL__": false,
    "__WP_LINKSERVICE_URL__": false,
    "__WP_ANALYTICS_URL__": false,
    "__WP_TEMPLATES_URL__": false,
    "__WP_PUBLISHING_SERVICE_URL__": false,
    "__WP_APP_URL__": false,
    "__WP_ENABLE_CRASH_REPORTING__": false,
    "__WP_SENTRY_DSN__": false,
    "__WP_DISABLE_ANALYTICS__": false,
    "__WP_DISABLE_UPDATES__": false,
    "__WP_ENABLE_ANALYTICS_LOG__": false,
    "__WP_RELEASE_CHANNEL__": false,
    "__WP_WEB_URL__": false,
    "__WP_INTERCEPTOR_APP_ID__": false,
    "__WP_IDENTITY_URL__": false,
    "__WP_IDENTITY_API_URL__": false,
    "__WP_ARTEMIS_URL__": false,
    "__WP_USER_ID__": false,
    "__WP_TEAM_ID__": false,
    "__WP_BASE_URL_PREFIX__": false,
    "__WP_PRELOAD_CACHE__": false,
    "__WP_API_URL__": false,
    "__WP_CORS_ORIGIN_HEADER__": false,
    "__WP_DASHBOARD_URL__": false,
    "__WP_TRUSTED_DOMAINS__": false,
    "__WP_SKILL_SERVICE_URL__": false,
    "__WP_ONBOARDING_SERVICE_URL__": false,
    "__SDK_PLATFORM__": false,
    "__WP_STATIC_ASSETS_BASE_URL__": false,
    "__WP_POSTMAN_AGENT_DOWNLOAD_URL__": false,
    "__WP_RUNTIME_AGENT_PORT__": false,
    "__WP_RUNTIME_AGENT_SERVICE_URL__": false,
    "__WP_ARTEMIS_DOMAIN__": false,
    "__WP_CLOUD_AGENT_SERVICE_URL__": false,
    "Map": false,
    "Set": false,
    "ThemeManager": false,
    "ENABLE_CRASH_REPORTING": false,
    "SENTRY_DSN": false,
    "postman_env": false,
    "postmanConverters": false,
    "postman_app_url": false,
    "requestSnippetGenerator": false,
    "postman_run_btn_url": false,
    "postman_syncserver_url": false,
    "postman_publiclinkserver_url": false,
    "postman_sync_rawtext_limit": false,

    "Promise": false,
    "describe": false,
    "it": false,
    "before": false,
    "afterEach": false,
    "beforeEach": false,
    "after": false
  },
  "rules": {
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-ex-assign": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-obj-calls": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-unexpected-multiline": "error",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "accessor-pairs": "error",
    "dot-location": ["error", "property"],
    "no-alert": "error",
    "no-caller": "error",
    "no-empty-pattern": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-undef": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-void": "error",
    "no-with": "error",
    "yoda": "error",
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-restricted-globals": "error",
    "no-shadow-restricted-names": "error",
    "no-undef-init": "error",
    "no-new-require": "error",
    "no-restricted-modules": "error",
    "array-bracket-spacing": "error",
    "block-spacing": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": "error",
    "consistent-this": "warn",
    "eol-last": "error",
    "func-call-spacing": "error",
    "id-blacklist": "error",
    "id-match": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "afterBlockComment": false,
      "beforeLineComment": true,
      "afterLineComment": false,
      "allowBlockStart": true,
      "allowBlockEnd": false,
      "allowObjectStart": true,
      "allowObjectEnd": false,
      "allowArrayStart": true,
      "allowArrayEnd": false
    }],
    "no-array-constructor": "error",
    "max-nested-callbacks": "error",
    "new-parens": "error",
    "no-multiple-empty-lines": "error",
    "no-new-object": "error",
    "no-restricted-syntax": "error",
    "no-trailing-spaces": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": "off",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "require-jsdoc": "warn",
    "semi": "error",
    "semi-spacing": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": "error",
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": "error",
    "wrap-regex": "error",
    "arrow-parens": ["error", "always"],
    "arrow-spacing": "error",
    "constructor-super": "error",
    "generator-star-spacing": "error",
    "no-class-assign": "error",
    "no-confusing-arrow": "error",
    "no-const-assign": "error",
    "no-new-symbol": "error",
    "no-restricted-imports": "error",
    "no-duplicate-imports": "error",
    "no-this-before-super": "error",
    "require-yield": "error",
    "rest-spread-spacing": ["error", "never"],
    "template-curly-spacing": "error",
    "yield-star-spacing": "error",
    "no-extra-boolean-cast": "error",
    "one-var-declaration-per-line": "error",
    "no-unreachable": "error",

    "react/no-danger": "error",
    "react/no-danger-with-children": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-is-mounted": "error",
    "react/no-render-return-value": "error",
    "react/no-unknown-property": "error",
    "react/react-in-jsx-scope": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": "error",
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-filename-extension": ["error", {
      "extensions": [".js"]
    }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-key": "error",
    "react/jsx-no-comment-textnodes": "error",
    "react/jsx-no-target-blank": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-tag-spacing": ["error", {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never"
    }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-wrap-multilines": "error",

    "react/jsx-no-undef": "off",
    "react/no-deprecated": "warn",
    "react/no-find-dom-node": "off",
    "react/no-multi-comp": "off",
    "react/no-set-state": "off",
    "react/no-string-refs": "off",
    "react/prefer-es6-class": ["off", "always"],
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/require-optimization": "off",
    "react/sort-comp": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-no-literals": "off",
    "react/display-name": "off",
    "react/forbid-component-props": "off",
    "react/forbid-prop-types": "off",
    "react/prefer-es-class": "off",
    "react/jsx-first-prop-new-line": ["off", "multiline"],
    "react/jsx-handler-names": "off",
    "react/jsx-indent": ["off", 2],
    "react/jsx-max-props-per-line": "off",
    "react/jsx-no-duplicate-props": ["off", {
      "ignoreCase": true
    }],
    "react/jsx-sort-props": ["off", {
      "callbacksLast": true,
      "shorthandFirst": true,
      "ignoreCase": true
    }],
    "react/no-did-mount-set-state": "off",
    "react/sort-prop-types": "off",


    "no-bitwise": "off",
    "no-cond-assign": "off",
    "no-console": ["error", { "allow": ["log", "warn", "dir", "trace"] }],
    "no-control-regex": "off",
    "no-extra-parens": "off",
    "no-inner-declarations": "off",
    "no-prototype-builtins": "off",
    "valid-typeof": "off",
    "complexity": "off",
    "no-div-regex": "off",

    "no-global-assign": "off",
    "no-magic-numbers": "off",
    "no-multi-str": "off",
    "no-unused-expressions": "off",
    "no-useless-concat": "off",
    "no-warning-comments": "off",
    "radix": "off",
    "strict": "off",
    "init-declarations": "off",
    "no-undefined": "off",
    "global-require": "off",
    "no-mixed-requires": "off",
    "no-path-concat": "off",
    "no-process-exit": "off",
    "no-sync": "off",
    "camelcase": "off",
    "func-names": "off",
    "func-style": "off",
    "id-length": "off",
    "max-len": "off",
    "max-lines": "off",
    "max-params": "off",
    "max-statements": "off",
    "max-statements-per-line": "off",
    "multiline-ternary": "off",
    "new-cap": "off",
    "newline-after-var": ["off", "always"],
    "newline-before-return": "off",
    "newline-per-chained-call": "off",
    "no-inline-comments": "off",
    "no-negated-condition": "off",
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-ternary": "off",
    "no-underscore-dangle": "off",
    "one-var": "off",
    "padded-blocks": "off",
    "quote-props": "off",
    "sort-keys": "off",
    "sort-vars": "off",
    "unicode-bom": "off",
    "no-dupe-class-members": "off",
    "no-useless-constructor": "off",
    "no-useless-rename": "off",
    "no-var": "off",
    "object-shorthand": "off",
    "prefer-const": "off",
    "prefer-reflect": "off",
    "prefer-template": "off",
    "sort-imports": "off",
    "block-sc": "off",
    "prefer-arrow-callback": "off",
    "array-callback-return": "off",
    "arrow-body-style": ["off", "always"],
    "block-scoped-var": "off",


    "callback-return": "off",
    "consistent-return": "off",
    "curly": "off",
    "default-case": "off",
    "dot-notation": "off",
    "eqeqeq": "off",
    "guard-for-in": "off",
    "handle-callback-err": "off",
    "indent": ["off", 2, {
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      },
      "SwitchCase": 1
    }],
    "max-depth": "off",
    "no-case-declarations": "off",
    "no-catch-shadow": "off",
    "no-continue": "off",
    "no-else-return": "off",
    "no-empty": "off",
    "no-empty-function": "off",
    "no-eq-null": "off",
    "no-fallthrough": "off",
    "no-implicit-coercion": "off",
    "no-invalid-this": "off",
    "no-lonely-if": "off",
    "no-loop-func": "off",
    "no-mixed-operators": "off",
    "no-mixed-spaces-and-tabs": "off",
    "no-param-reassign": "off",
    "no-process-env": "off",
    "no-redeclare": "off",
    "no-return-assign": "off",
    "no-sequences": "off",
    "no-shadow": "off",
    "no-tabs": "off",
    "no-throw-literal": "off",
    "no-unneeded-ternary": "off",
    "no-unsafe-finally": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-useless-computed-key": "off",
    "no-useless-escape": "off",
    "object-property-newline": "off",
    "operator-assignment": "off",
    "operator-linebreak": ["off", "after"],
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "valid-jsdoc": ["off", {
      "requireReturn": false
    }],
    "vars-on-top": "off",
    "wrap-iife": "off"
  }
}
