.App {
  height: 95vh;
  width: 100vw;
}

.header {
  height: 5vh;
  background-color: #283475;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
}

.pane {
  background-color: #FFF;
}

.editor-pane {
  z-index: 1;
}

.response-pane {
  z-index: 2;
}

.sidebar-pane {
  z-index: 3;
}

div[data-type='Resizer'] {
  z-index: 10;
}