.sidebar {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* Info */
.sidebar-info__wrapper {
  padding: 8px;
}

.sidebar-info__empty {
  margin-top: 24px;
  width: 100%;
  text-align: center;
}

.sidebar-info__entry {
  margin: 24px 0;
}

.sidebar-info__entry-key {
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 3px;
  padding: 4px 8px;
  background: rgba(64, 81, 181, 0.1);
}

.sidebar-info__entry-value {
  font-size: 16px;
  padding: 4px;
  margin-top: 8px;
}

/* History */
.sidebar-history {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}


.history__list {
  flex: 1 1 auto;
  margin-top: 16px;
  font-family: monospace;
  font-size: 16px;
}

.history__list-item {
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history__list-item:hover {
  background: rgba(64, 81, 181, 0.05);
}